@model the_Mike_Ro_Blog.Models.Follow

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Follow</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Since)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Since)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
